<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weapon Detection</title>
</head>
<body>
    <h1>Weapon Detection</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
    <img src="static/pistol1.jpg'">
    
    {% if content %}
  <h1>some text <img src="static/mixed1.webp'">  {{content}}</h1>
    {% else %}
  <h1>no image for whatever reason</h1>
    {% endif %}
</body>
</html>